body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Prevent padding from increasing width */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden; /* Ensure the progress bar doesn't overflow */
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #4CAF50;
    width: 0%;
    transition: width 0.3s ease; /* Smooth transition */
}

#progressText {
    margin-bottom: 10px;
}

#status {
    font-weight: bold;
}
.view-files-button {
    display: inline-block;
    background-color: #007bff; /* Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}

.view-files-button:hover {
    background-color: #0056b3; /* Darker Blue */
}
